<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ppeepfinal">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ProfileBloodGroupEdit"></activity>
        <activity android:name=".ProfileDobEdit" />
        <activity android:name=".ProfileAddressEdit" />
        <activity android:name=".ProfileEmailEdit" />
        <activity android:name=".ProfileGenderEdit" />
        <activity android:name=".ProfileNameEdit" />
        <activity android:name=".OrderHistoryDetails" />
        <activity android:name=".HelpPage" />
        <activity android:name=".PromotionPage" />
        <activity android:name=".HistoryPage" />
        <activity android:name=".ProfileEdit" />
        <activity android:name=".PreOrderPage" />
        <activity android:name=".FoodCartPage" />
        <activity android:name=".RestaurantMenuPage" />
        <activity android:name=".CheckoutCart" />
        <!--<activity android:name=".TabFragmentOffer" />
        <activity android:name=".TabFragmentPopular" />
        <activity android:name=".TabFragmentNearby" />
        <activity android:name=".TabFragmentRecommended" />-->
        <activity android:name=".FoodApp" />
        <activity android:name=".WebViewClass" />
        <activity android:name=".InputDetails" />
        <activity android:name=".VerificationComplete" />
        <activity android:name=".TermsConditions" />
        <activity android:name=".OTPpage" />
        <activity android:name=".SearchRestaurant" />

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />
        <activity
            android:name=".HomePage"
            android:label="@string/pPeep"
            android:theme="@style/AppTheme2" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpPage" />
        <activity android:name=".LogInPage" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>